@import "../../styles/vars.scss";

.quiz-container {
    width: 500px;
    background: $bg;
    border-radius: 5px;
    margin-top: 100px;
    padding: 30px 30px;
    box-sizing: border-box;

    .active-question-no {
        font-size: 2rem;
        font-weight: 500;
        color: $primary;
    }

    .total-question {
        font-size: 1.5rem;
        font-weight: 500;
        color: $disabled;
    }

    h2 {
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
    }

    ul {
        margin-top: 10px;
        margin-left: -40px;

        li {
            text-decoration: none;
            list-style: none;
            color: $foreground;
            font-size: 1rem;
            background: $bg;
            border: 1px solid $disabled;
            padding: 10px 10px;
            margin: 20px 0;
            border-radius: 15px;
            cursor: pointer;
        }

        .selected-answer {
            background: $accent;
            border: 1px solid $primary;
            color: $bg;
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
    }

    button {
        background: linear-gradient(0deg, $primary 0.03%, $accent);
        border-radius: 10px;
        padding: 10px 30px;
        font-size: 1rem;
        color: $bg;
        outline: none;
        border: none;

        &:disabled {
            background: $bg-accent;
            color: $disabled;
            cursor: not-allowed;
        }
    }
}

.result-container {
    h2 {
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
    }

    .results {
        font-size: 1rem;
        font-weight: 500;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto auto;
        text-align: center;

        span {
            font-size: 1.3rem;
            color: $primary;
        }
    }

    .try-again {
        text-align: center;
    }
}